@font-face {
    font-family: 'OpenSan';
    src: url('/fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype'),
        url('/fonts/OpenSans-VariableFont_wdth,wght.woff2') format('woff2'),
        url('/fonts/OpenSans-VariableFont_wdth,wght.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-VariableFont_wght.ttf') format('truetype'),
        url('/fonts/Poppins-VariableFont_wght.woff2') format('woff2'),
        url('/fonts/Poppins-VariableFont_wght.woff') format('woff');
    font-weight: 700;
}

.clamp-logo {
    width: clamp(40%, 20vw, 95%);
}

.clamp-icon-commun {
    width: clamp(12%, 10vw, 17%);
}

.clamp-icon-messages {
    width: clamp(7%, 5.5vw, 17%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;